@inject Piranha.Api Api
@{
  var sitemap = Api.Sites.GetSitemap();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @*<meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">*@

    <title>@ViewBag.Title</title>

    <link href="//fonts.googleapis.com/css?family=Gentium+Book+Basic:700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link href="~/assets/css/style.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        @foreach (var item in sitemap) {
          <li @(item.Items.Count > 0 ? "class=dropdown" : "")>
            @if (item.Items.Count > 0) {
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@item.Title<span class="caret"></span></a>              
              <ul class="dropdown-menu">
                <a href="@item.Permalink">@item.Title</a>
                @foreach (var subitem in item.Items) {
                  <li><a href="@subitem.Permalink">@subitem.Title</a></li>
                }
              </ul>
            } else {
              <a href="@item.Permalink">@item.Title</a>
            }
          </li>
        }

        <!--
        <li><a href="http://localhost:5000/oculus-rift">Oculus</a></li>
        <li><a href="http://localhost:5000/htc-vive">Vive</a></li>
        <li><a href="http://localhost:5000/samsung-gear">Gear</a></li>
        <li><a href="http://localhost:5000/augmented-reality">Augmented</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact Us<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Youtube</a></li>
            <li><a href="#">Additional Media</a></li>
          </ul>
        </li>
        -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    @RenderBody()

<footer class="container-fluid footer">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 address">
      <h3>Test</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta auctor est ut viverra. In maximus tempor magna at mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
      <address>
        <strong>Lorem Ipsum Street 1</strong><br>
        (123) 456 789<br>
        loremipsum@ipsum.com<br>
      </address>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 links">
      <h4>General Links</h4>
      <ul>
        <li><a href="#"> Career</a></li>
        <li><a href="#"> Privacy Policy</a></li>
        <li><a href="#"> Terms & Conditions</a></li>
        <li><a href="#"> Ranking</a></li>
        <li><a href="#"> Case Studies</a></li>
        <li><a href="#"> FAQ</a></li>
      </ul>
    </div>
    <div class="clearfix visible-sm-block"></div>
    <div class="col-xs-12 col-sm-6 col-md-3 posts">
      <h4>Latest Post</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta auctor est ut viverra. - 1/1-11</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta auctor est ut viverra. - 1/1-11</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta auctor est ut viverra. - 1/1-11</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 socialmedia">
      <h4><a href="#"><img src="https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png" alt="Socialmedia 1" class="socialmediaimg">Facebook</a></h4>
      <h4><a href="#"><img src="http://icons.iconarchive.com/icons/limav/flat-gradient-social/256/Twitter-icon.png" alt="Socialmedia 2" class="socialmediaimg">Twitter</a></h4>
      <h4><a href="#"><img src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-256.png" alt="Socialmedia 3" class="socialmediaimg">Linkedin</a></h4>
    </div>
    <div class="col-xs-12 text-center" id="copyright">
      <p>&copy; Lorem Ipsum</p>
    </div>
  </div>
</footer>

<script src="~/assets/js/script.min.js"></script>
</body>
</html>
