@model CoreWeb.Models.HomePage
@{
    ViewBag.Title = Model.Title;
}

<main class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-sm-offset-1 col-sm-5">
        <h1>@Model.HeroContent.Heading.Value</h1>
        <p>@Model.HeroContent.Content.Value</p>
      </div>
    </div>
  </div>
</main>

<article class="container-fluid text-center article">
  <div class="row">
    <div class="col-xs-12">
      <h4>@Model.ArticleContent.Heading.Value</h4>
      <p>@Model.ArticleContent.Content.Value</p>
    </div>
    <div class="col-xs-offset-1 col-xs-4 col-sm-offset-0 col-sm-3 tn-container">
      <div class="aspectratio">
        <div class="contentstretch">
          <a href="http://localhost:5000/oculus-rift">
            <img src="@Model.ArticleContent.Image1.Value" alt="Image 2" class="img-responsive">
            <h4>@Model.ArticleContent.Image1Title.Value</h4>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-offset-2 col-xs-4 col-sm-offset-0 col-sm-3 tn-container">
      <div class="aspectratio">
        <div class="contentstretch">
          <a href="http://localhost:5000/htc-vive">
            <img src="@Model.ArticleContent.Image2.Value" alt="Image 2" class="img-responsive">
            <h4>@Model.ArticleContent.Image2Title.Value</h4>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-offset-1 col-xs-4 col-sm-offset-0 col-sm-3 tn-container">
      <div class="aspectratio">
        <div class="contentstretch">
          <a href="http://localhost:5000/samsung-gear">
            <img src="@Model.ArticleContent.Image3.Value" alt="Image 3" class="img-responsive">
            <h4>@Model.ArticleContent.Image3Title.Value</h4>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-offset-2 col-xs-4 col-sm-offset-0 col-sm-3 tn-container">
      <div class="aspectratio">
        <div class="contentstretch">
          <a href="http://localhost:5000/augmented-reality">
            <img src="@Model.ArticleContent.Image4.Value" alt="Image 4" class="img-responsive">
            <h4>@Model.ArticleContent.Image4Title.Value</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</article>

    @Html.Raw(Model.Body.Value)

</div>
