@model CoreWeb.Models.VRPage
@{
    ViewBag.Title = Model.Title;
}

<main class="main">
  <div class="imagewrapper">
    <img src="@Model.HeroContent.HeroImage.Value" alt="Hero Image" id="heroimage">
  </div>
</main>

<article class="container-fluid text-center article">
  <div class="row">
    <div class="col-xs-12">
      <div class="herotext">
        <h1>@Model.HeroContent.Heading.Value</h1>
        <p>@Model.HeroContent.Content.Value</p>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-5">
          <!--Potential JS data presentation goes here-->
        </div>
        <div class="col-xs-7">
          <h2>@Model.ArticleContent.Heading1.Value</h2>
          <p>@Model.ArticleContent.Content1.Value</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-7">
          <h2>@Model.ArticleContent.Heading2.Value</h2>
          <p>@Model.ArticleContent.Content2.Value</p>
        </div>
        <div class="col-xs-5">
          <!--Potential JS data presentation goes here-->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <!--Potential JS data presentation goes here-->
        </div>
        <div class="col-xs-7">
          <h2>@Model.ArticleContent.Heading3.Value</h2>
          <p>@Model.ArticleContent.Content3.Value</p>
        </div>
      </div>
    </div>
  </div>
</article>

<article class="container-fluid cases">
  <div class="row">
    <div class="col-xs-4 text-center">
      <a href="#">
        <h3>@Model.Cases.Case1.Value</h3>
        <img src="@Model.Cases.Case1Img.Value" alt="Case 1 Image" class="img-responsive">
      </a>
    </div>
    <div class="col-xs-4 text-center">
      <a href="#">
        <h3>@Model.Cases.Case2.Value</h3>
        <img src="@Model.Cases.Case2Img.Value" alt="Case 2 Image" class="img-responsive">
      </a>
    </div>
    <div class="col-xs-4 text-center">
      <a href="#">
        <h3>@Model.Cases.Case3.Value</h3>
        <img src="@Model.Cases.Case3Img.Value" alt="Case 3 Image" class="img-responsive">
      </a>
    </div>
  </div>
</article>

    @Html.Raw(Model.Body.Value)

</div>
